{% extends 'base.html' %}
{% block content %}
<h1>Viewing Single Event</h1>
<div>
    #{{event.id}}<br>
    <h1>{{event.title}}<br></h1>
    <h3>{{event.description}}<br></h3>
    <h3>Location: {{event.location}}<br></h3>
    <h3>Price: {{event.price}}<br></h3>
    <h3>From {{event.start}} to {{event.end}}<br></h3>
    <small>by {{event.creator.username}} <img src="{{creator.avatar_url}}" alt="Creator Avatar"> at {{event.created}}<br></small>
    <a class="nav-link" href="/events/{{event.id}}/purchase">Purchase <span class="sr-only">(current)</span></a>
    <img src="{{event.image_url}}" alt="Event Image">
    <hr>
</div>
{% endblock content %}